---
/**
 * * These are larger cards with icons, titles, and text
 * Recommend using minimum 3 cards in a row, although this should work for any number of cards
 * These smaller cards work great if there are a large amount of services to advertise
 *
 * ! If you can an error for an icon like "Error: Not Found: "calendar-check" in pack "tabler",
 * ! You can copy to actual SVG into src/icons, name it whatever, and use similar to below example "tabler-calendar-check"
 */

import { Icon } from "astro-icon";

// components
import ServiceCard from "@components/ServiceCard/ServiceCardIcon.astro";
// import FeatureCard from "@components/FeatureCard/FeatureCardTest.astro";

interface FeatureData {
  icon: string;
  title: string;
  text: string;
  href: string;
}

// data
const featureData: FeatureData[] = [
  {
    icon: "tabler:home",
    title: "Exterior",
    text: `Professional home exterior painting, including siding, doors, and trim.`,
    href: "/services/exterior-painting/",
  },
  {
    icon: "tabler:sofa",
    title: "Interior",
    text: `Our experienced staff can paint your home's interior, including walls, ceilings, and trim.`,
    href: "/services/interior-painting/",
  },
  {
    icon: "tabler:fence",
    title: "Deck and Fence",
    text: `Stain your deck or fence to keep it looking great and protected from the elements.`,
    href: "/services/deck-and-fence-staining/",
  },
];
---

<section id="services-icon" class="my-12 bg-base-200/50 py-20 md:my-24">
  <div class="container">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="h2">
        Our <span class="relative whitespace-nowrap text-primary-600">
          professional
        </span> painting services
      </h2>
    </div>
    <div
      class="mt-10 grid gap-4 sm:grid-cols-2 md:grid-cols-3"
      id="services-icon-cards"
    >
      {
        featureData.map((feature, idx) => (
          <ServiceCard
            title={feature.title}
            text={feature.text}
            icon={feature.icon}
            href={feature.href}
            idx={idx}
            data-aos="fade-up"
            data-aos-delay={0.15 * idx}
            data-aos-trigger="#services-icon-cards"
          />
        ))
      }
    </div>
  </div>
</section>
