---
/**
 * * These are alternating side cards with titles, text, and images
 * Recommend using 2 or 3 cards in a row
 */
import { Icon } from "astro-icon";

// components
import ServiceCard from "@components/ServiceCard/ServiceCardSideImage.astro";

// images
import image1 from "@images/house.jpg";
import image2 from "@images/living-room.jpg";
import image3 from "@images/paint-swatches.jpg";

interface ServiceItem {
  image: ImageMetadata; // an imported image
  title: string;
  details: string;
  href: string; // link to learn more
}

// data
const serviceData: ServiceItem[] = [
  {
    image: image1,
    title: "Exterior Painting",
    details: `Professional home exterior painting, including siding, doors, and trim.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nesciunt quia quibusdam, 
    voluptatem aliquid autem, magnam, doloremque voluptatibus odio esse pariatur harum 
    odit neque qui earum nam praesentium sint ullam!`,
    href: "/services/exterior-painting/",
  },
  {
    image: image2,
    title: "Interior Painting",
    details: `Our experienced staff can paint your home's interior, including walls, ceilings, and trim.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nesciunt quia quibusdam, voluptatem 
    aliquid autem, magnam, doloremque voluptatibus odio esse pariatur harum odit neque qui earum 
    nam praesentium sint ullam!`,
    href: "/services/interior-painting/",
  },
  {
    image: image3,
    title: "Deck and Fence Staining",
    details: `Stain your deck or fence to keep it looking great and protected from the elements.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nesciunt quia quibusdam, 
    voluptatem aliquid autem, magnam, doloremque voluptatibus odio esse pariatur harum odit neque 
    qui earum nam praesentium sint ullam!`,
    href: "/services/deck-and-fence-staining/",
  },
];
---

<section id="services-side-image" class="overflow-hidden py-12">
  <div class="container">
    <div class="mx-auto flex max-w-2xl justify-center text-center">
      <h2 class="h2 relative z-20 mx-4">
        <div class="absolute left-0 top-0 hidden md:block">
          <Icon
            name="freehand-arrow-curl"
            class="h-auto w-24 -translate-x-24 translate-y-12 -rotate-[45deg] -scale-x-100 text-primary-500"
            aria-hidden="true"
          />
        </div>
         Our <span class="text-primary-600">professional</span> painting
        services
      </h2>
    </div>
    <div class="mt-10 flex flex-col gap-16 md:mt-16 md:gap-24">
      {
        serviceData.map((feature, idx) => (
          <ServiceCard
            title={feature.title}
            details={feature.details}
            image={feature.image}
            imageSide={idx % 2 === 0 ? "right" : "left"}
            href={feature.href}
            idx={idx}
          />
        ))
      }
    </div>
  </div>
</section>
