---
/**
 * * These are cards with icons, titles, text, and a url
 * Recommend using minimum 3 cards in a row, although this should work for any number of cards
 * These smaller cards work great if there are a large amount of services to advertise
 *
 * ! If you can an error for an icon like "Error: Not Found: "calendar-check" in pack "tabler",
 * ! You can copy to actual SVG into src/icons and name it however and use similar to below
 */

import { Icon } from "astro-icon";

// components
import Button from "@components/Button/Button.astro";

interface Props {
  icon: string; // icon string for astro-icon
  title: string;
  text: string;
  href: string;
  idx: number; // determines which "blob" icon svg to use. There are 4 options (0-3)
  rest?: any; // catch-all for any additional parameters, such as "aria-label"
}

const { icon, title, text, href, idx, ...rest } = Astro.props as Props;
---

<div {...rest} class="h-full">
  <a
    href={href}
    class="group flex h-full flex-col justify-between overflow-hidden rounded-xl bg-base-50 px-4 py-8 text-center transition-all duration-300 hover:-translate-y-1 hover:shadow-lg"
  >
    <div>
      <div class="flex justify-center">
        <div class="relative h-20 w-20">
          <Icon
            name={`blob-${idx % 4}`}
            class="absolute left-0 top-0 h-60 w-60 -translate-x-1/3 -translate-y-1/3 text-primary-500"
            aria-hidden="true"
          />
          <div class="relative flex h-full w-full items-center justify-center">
            <Icon name={icon} class="h-8 w-8 text-base-50" aria-hidden="true" />
          </div>
        </div>
      </div>

      <h3 class="h3 mt-6">{title}</h3>
      <p class="mt-2 opacity-80">{text}</p>
    </div>
    <div class="mt-4 flex justify-center">
      <Button variant="outline" arrow="right">
        Learn more <span class="sr-only">about {title}</span>
      </Button>
    </div>
  </a>
</div>
