---
/**
 * * These are alternating side cards with titles, text, and images
 * Recommend using 2 or 3 cards in a row
 */

import { Image } from "astro:assets";
import { Icon } from "astro-icon";

// components
import Button from "@components/Button/Button.astro";

interface Props {
  title: string; // larger title
  details: string; // text details
  href: string; // link to learn more
  image: ImageMetadata; // an imported image
  imageSide: "left" | "right";
  idx: number; // determines which "blob" icon svg to use. There are 4 options (0-3)
}

const { image, title, href, idx, details, imageSide } = Astro.props as Props;
---

<div class="mx-auto grid gap-8 rounded-xl md:grid-cols-2 md:gap-12 lg:gap-20">
  <!-- text -->
  <div class=`${imageSide === "left" ? "md:order-last": ""} col-span-1`>
    <h2 class="h2 mt-6">{title}</h2>
    <p class="mt-4 opacity-80">{details}</p>
    <div class="z-20 mt-4 flex">
      <Button variant="ghost" href={href} arrow="right">
        Learn more <span class="sr-only">about {title}</span>
      </Button>
    </div>
  </div>

  <!-- image -->
  <div class="relative mx-auto max-w-4xl">
    <!-- background blob -->
    <div class="absolute left-0 top-0 -z-10 h-full w-full">
      <Icon
        name={`blob-${idx % 4}`}
        class="absolute left-0 top-0 h-auto w-[220%] -translate-x-1/4 -translate-y-[21%] text-primary-100 md:-translate-x-1/3"
        aria-hidden="true"
      />
    </div>
    <Image
      class="relative rounded-xl border border-transparent object-cover"
      src={image}
      alt={title}
      height={700}
    />
  </div>
</div>
