---
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

// utils
import { getAllAuthorsData } from "@js/blogUtils";
import { formatDate, humanize } from "@js/textUtils";

interface Props {
  post: CollectionEntry<"blog">;
  showDescription?: boolean;
  class?: string;
  rest?: any; // catch-all for any additional parameters, such as "aria-label"
}

const {
  post,
  showDescription = false,
  class: className,
  ...rest
} = Astro.props as Props;
const { title, description, categories, authors, pubDate, heroImage } =
  post.data;

const authorsData = await getAllAuthorsData(authors);
---

<a
  href={`/blog/${post.slug}/`}
  class=`flex group grid md:grid-cols-3 md:gap-4 ${className}`
  {...rest}
>
  <div
    class="shrink-0 justify-center overflow-hidden rounded-lg sm:justify-normal md:col-span-2"
  >
    <figure>
      <Image
        src={heroImage}
        alt={`Cover for ${title}`}
        height={700}
        quality="high"
        class="h-auto max-h-96 w-full object-cover transition-all duration-300 group-hover:scale-[1.02]"
      />
    </figure>
  </div>
  <div class="flex w-full flex-col gap-1 md:gap-4">
    <!-- categories -->
    <div class="mt-1 flex flex-wrap gap-4">
      {
        categories.map((category) => (
          <span class="font-medium">{humanize(category)}</span>
        ))
      }
    </div>

    <!-- title -->
    <h2 class="text-lg font-medium md:text-2xl lg:text-3xl">
      {title}
    </h2>

    <!-- description -->
    {
      showDescription && (
        <p class="description hidden text-sm md:block lg:text-base">
          {description}
        </p>
      )
    }

    <div class="flex flex-wrap gap-1 text-sm opacity-80">
      <!-- published date -->
      <p class="whitespace-nowrap">
        {formatDate(pubDate)}
      </p>
      <span>&bull;</span>
      <!-- first author -->
      <p class="whitespace-nowrap">
        {authorsData[0].data.name}
      </p>
    </div>
  </div>
</a>
