---
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

// utils
import { formatDate, humanize } from "@js/textUtils";
import { getAllAuthorsData } from "@js/blogUtils";

interface Props {
  post: CollectionEntry<"blog">;
  showDescription?: boolean;
  class?: string;
  rest?: any; // catch-all for any additional parameters, such as "aria-label"
}

const {
  post,
  showDescription = false,
  class: className,
  ...rest
} = Astro.props as Props;
const { title, description, categories, authors, pubDate, heroImage } =
  post.data;

const authorsData = await getAllAuthorsData(authors);
---

<a
  href={`/blog/${post.slug}/`}
  class=`flex group flex-col ${className}`
  {...rest}
>
  <div
    class="shrink-0 justify-center overflow-hidden rounded-lg sm:justify-normal"
  >
    <figure>
      <Image
        src={heroImage}
        alt={`Cover for ${title}`}
        height={700}
        quality="high"
        class="h-auto max-h-96 w-full object-cover transition-all duration-500 group-hover:scale-[1.02]"
      />
    </figure>
  </div>
  <div class="w-full">
    <!-- categories -->
    <div class="mt-1 flex flex-wrap gap-4">
      {
        categories.map((category) => (
          <span class="font-medium">{humanize(category)}</span>
        ))
      }
    </div>

    <!-- title -->
    <h2 class="text-lg font-medium md:text-xl">
      {title}
    </h2>

    <!-- description -->
    {
      showDescription && (
        <p class="description mt-1 text-sm lg:text-base">{description}</p>
      )
    }

    <div class="mt-1 flex flex-wrap gap-1 text-sm opacity-80">
      <!-- published date -->
      <p class="whitespace-nowrap">
        {formatDate(pubDate)}
      </p>
      <span>&bull;</span>
      <!-- first author -->
      <p class="whitespace-nowrap">
        {authorsData[0].data.name}
      </p>
    </div>
  </div>
</a>
