---
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

// utils
import { getAllAuthorsData } from "@js/blogUtils";
import { slugify, formatDate, humanize } from "@js/textUtils";

interface Props {
    post: CollectionEntry<"blog">;
    showDescription?: boolean;
    class?: string;
    rest?: any; // catch-all for any additional parameters, such as "aria-label"
}

const {
    post,
    showDescription = false,
    class: className,
    ...rest
} = Astro.props as Props;
const { title, description, categories, authors, pubDate, heroImage } =
    post.data;

const authorsData = await getAllAuthorsData(authors);
---

<!-- href={`/blog/${post.slug}/`} -->
<article class=`flex grid gap-4 md:grid-cols-2 md:gap-8 ${className}` {...rest}>
    <a
        href={`/blog/${post.slug}/`}
        class="shrink-0 justify-center overflow-hidden rounded-lg sm:justify-normal"
    >
        <figure>
            <Image
                src={heroImage}
                alt={`Cover for ${title}`}
                height={700}
                quality="high"
                class="h-auto max-h-96 w-full rounded-lg object-cover transition-all duration-500 hover:scale-[1.02]"
            />
        </figure>
    </a>
    <div class="flex w-full flex-col gap-2 md:gap-4">
        <!-- categories -->
        <div class="flex flex-wrap gap-4 md:mt-1">
            {
                categories.map((category) => (
                    <a
                        href={`/categories/${slugify(category)}/`}
                        class="button button--ghost px-2 py-0.5 font-medium md:px-4 md:py-1"
                    >
                        {humanize(category)}
                    </a>
                ))
            }
        </div>

        <!-- title -->
        <div>
            <a
                href={`/blog/${post.slug}/`}
                class="border-b-2 border-transparent transition duration-300 hover:border-primary-500"
            >
                <h2 class="inline text-lg font-medium md:text-2xl lg:text-3xl">
                    {title}
                </h2>
            </a>
        </div>

        <!-- description -->
        {
            showDescription && (
                <p class="description hidden text-sm md:block lg:text-base">
                    {description}
                </p>
            )
        }

        <div class="flex flex-wrap gap-1 text-sm opacity-80">
            <!-- published date -->
            <p class="whitespace-nowrap">
                {formatDate(pubDate)}
            </p>
            <span>&bull;</span>
            <!-- first author -->
            <p class="whitespace-nowrap">
                {authorsData[0].data.name}
            </p>
        </div>
    </div>
</article>
