---
/**
 * * These are alternating side cards with titles, text, and images
 * Recommend using 2 or 3 cards in a row
 */
import { Icon } from "astro-icon";

// components
import FeatureCard from "@components/FeatureCard/FeatureCardSideImage.astro";

// images
import image1 from "@images/paint-swatches.jpg";
import image2 from "@images/living-room.jpg";

interface FeatureItem {
  image: ImageMetadata; // an imported image
  title: string;
  items: string[]; // list of items that will have check marks next to
  href: string; // link to learn more
}

// data
const featureData: FeatureItem[] = [
  {
    image: image1,
    title: "Highest quality painting services",
    items: [
      "Professional painters with years of experience.",
      "Help you realise your vision.",
      "Guaranteed satisfaction.",
    ],
    href: "/services/exterior-painting/",
  },
  {
    image: image2,
    title: "Guaranteed satisfaction",
    items: [
      "Professional painters with years of experience.",
      "Help you realise your vision.",
      "Guaranteed satisfaction.",
    ],
    href: "/services/interior-painting/",
  },
];
---

<section id="feature-side-image" class="my-12 overflow-hidden py-12">
  <div class="container">
    <div class="mx-auto flex max-w-2xl justify-center text-center">
      <h2 class="h2 text-center">
        The <span class="relative whitespace-nowrap">
          best choice
          <Icon
            name="freehand-circle-multi-loop"
            class="absolute inset-0 -z-10 w-full -translate-y-5 scale-y-50 text-primary-200 sm:-translate-y-6"
            aria-hidden="true"
          />
        </span> for your painting needs
      </h2>
    </div>
    <div class="mt-10 flex flex-col gap-16 md:mt-16 md:gap-24">
      {
        featureData.map((feature, idx) => (
          <FeatureCard
            title={feature.title}
            items={feature.items}
            image={feature.image}
            imageSide={idx % 2 === 0 ? "right" : "left"}
            href={feature.href}
            idx={idx}
          />
        ))
      }
    </div>
  </div>
</section>
