---
/**
 * * Three row image marquee
 * JS allows the animation to pause while you hover over it.
 */

import { Image } from "astro:assets";

// images
import image1 from "@assets/images/starburst/anna-success.jpeg";
import image2 from "@assets/images/starburst/anna-tcby.jpeg";
import image3 from "@assets/images/starburst/brian_trino.jpeg";
import image4 from "@assets/images/starburst/buckets.jpeg";
import image5 from "@assets/images/starburst/data_rebel.JPG";
import image6 from "@assets/images/starburst/davanova.jpeg";
import image7 from "@assets/images/starburst/green-brooke.jpeg";
import image8 from "@assets/images/starburst/green-screen.jpg";
import image9 from "@assets/images/starburst/jess-clerb.JPG";
import image10 from "@assets/images/starburst/jess-datanova.jpeg";
import image11 from "@assets/images/starburst/little-mermaid-group.jpeg";
import image12 from "@assets/images/starburst/prom-photo.JPG";
import image13 from "@assets/images/starburst/re-invent.JPG";
import image14 from "@assets/images/starburst/speakers.jpeg";
import image15 from "@assets/images/starburst/trino-summit.jpeg";

interface MarqueeImages {
    images: ImageMetadata[]; // imported images
}

// change these images to whatever you want!
const marqueeTop: MarqueeImages = {
    images: [image1, image2, image3, image4, image5, image6],
};

const marqueeMiddle: MarqueeImages = {
    images: [image8, image9, image10, image11, image6],
};

const marqueeBottom: MarqueeImages = {
    images: [image13, image14, image15, image6, image12],
};
---

<section id="gallery" class="mx-auto my-12 py-12">
    <!-- TODO: Add a heading like "See the results" or similar -->
    <div class="relative flex flex-col gap-6 overflow-hidden md:gap-10">
        <!-- marquee top row -->
        <div
            class="marquee-top relative mt-8 flex gap-6 overflow-hidden md:gap-10"
        >
            <div
                class="flex min-w-full shrink-0 animate-marquee items-center justify-around gap-6 md:gap-10"
            >
                {
                    marqueeTop.images.map((image) => (
                        <Image
                            src={image}
                            alt=""
                            loading="lazy"
                            width={600}
                            class="aspect-[4/3] max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
                        />
                    ))
                }
            </div>
            <div
                aria-hidden="true"
                class="flex min-w-full shrink-0 animate-marquee items-center justify-around gap-6 md:gap-10"
            >
                {
                    marqueeTop.images.map((image) => (
                        <Image
                            src={image}
                            alt=""
                            loading="lazy"
                            width={600}
                            class="aspect-[4/3] max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
                        />
                    ))
                }
            </div>
        </div>

        <!-- marquee middle row -->
        <div
            class="marquee-middle relative flex gap-6 overflow-hidden md:gap-10"
        >
            <div
                class="flex min-w-full shrink-0 animate-marquee items-center justify-around gap-6 [animation-direction:reverse] md:gap-10"
            >
                {
                    marqueeMiddle.images.map((image) => (
                        <Image
                            src={image}
                            alt=""
                            loading="lazy"
                            width={600}
                            class="aspect-[4/3] max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
                        />
                    ))
                }
            </div>
            <div
                aria-hidden="true"
                class="flex min-w-full shrink-0 animate-marquee items-center justify-around gap-6 [animation-direction:reverse] md:gap-10"
            >
                {
                    marqueeMiddle.images.map((image) => (
                        <Image
                            src={image}
                            alt=""
                            loading="lazy"
                            width={600}
                            class="aspect-[4/3] max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
                        />
                    ))
                }
            </div>
        </div>

        <!-- marquee bottom row -->
        <div
            class="marquee-bottom relative flex gap-6 overflow-hidden md:gap-10"
        >
            <div
                class="flex min-w-full shrink-0 animate-marquee items-center justify-around gap-6 md:gap-10"
            >
                {
                    marqueeBottom.images.map((image) => (
                        <Image
                            src={image}
                            alt=""
                            loading="lazy"
                            width={600}
                            class="aspect-[4/3] max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
                        />
                    ))
                }
            </div>
            <div
                aria-hidden="true"
                class="flex min-w-full shrink-0 animate-marquee items-center justify-around gap-6 md:gap-10"
            >
                {
                    marqueeBottom.images.map((image) => (
                        <Image
                            src={image}
                            alt=""
                            loading="lazy"
                            width={600}
                            class="aspect-[4/3] max-w-[clamp(10rem,28vmin,20rem)] rounded-md object-cover shadow-md"
                        />
                    ))
                }
            </div>
        </div>
    </div>
</section>

<script>
    const setupMarquee = () => {
        const marqueeTop = document.querySelector(".marquee-top");
        const marqueeMiddle = document.querySelector(".marquee-middle");
        const marqueeBottom = document.querySelector(".marquee-bottom");

        // add the clauss "pause" when the mouse enters the marquee
        marqueeTop?.addEventListener("mouseover", () => {
            marqueeTop.querySelectorAll(".animate-marquee").forEach((el) => {
                el.classList.add("pause");
            });
        });
        marqueeMiddle?.addEventListener("mouseover", () => {
            marqueeMiddle.querySelectorAll(".animate-marquee").forEach((el) => {
                el.classList.add("pause");
            });
        });
        marqueeBottom?.addEventListener("mouseover", () => {
            marqueeBottom.querySelectorAll(".animate-marquee").forEach((el) => {
                el.classList.add("pause");
            });
        });

        // remove the class "pause" when the mouse leaves the marquee
        marqueeTop?.addEventListener("mouseout", () => {
            marqueeTop.querySelectorAll(".animate-marquee").forEach((el) => {
                el.classList.remove("pause");
            });
        });
        marqueeMiddle?.addEventListener("mouseout", () => {
            marqueeMiddle.querySelectorAll(".animate-marquee").forEach((el) => {
                el.classList.remove("pause");
            });
        });
        marqueeBottom?.addEventListener("mouseout", () => {
            marqueeBottom.querySelectorAll(".animate-marquee").forEach((el) => {
                el.classList.remove("pause");
            });
        });
    };

    // runs on initial page load
    setupMarquee();

    // runs on view transitions navigation
    document.addEventListener("astro:after-swap", setupMarquee);
</script>
