---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";

// data
import { type TestimonialItem } from "@config/testimonialData.json";

const { avatar, name, title, testimonial } = Astro.props as TestimonialItem;
---

<div class="flex h-full">
  <div
    class="flex flex-col items-center justify-between rounded-xl bg-base-50 px-4 pb-8 text-center"
  >
    <div class="flex flex-col items-center">
      <Image
        src={avatar}
        alt={name}
        height={160}
        class="-mt-10 h-20 w-20 rounded-full border-2 border-primary-500 object-cover"
      />
      <p class="mt-4 text-lg">{name}</p>
      <p class="opacity-80">{title}</p>
      <p class="mt-4">{testimonial}</p>
    </div>
    <div class="mt-4 flex items-center justify-center gap-1">
      <Icon
        name="tabler-star-filled"
        class="h-6 w-6 text-yellow-500"
        aria-hidden="true"
      />
      <Icon
        name="tabler-star-filled"
        class="h-6 w-6 text-yellow-500"
        aria-hidden="true"
      />
      <Icon
        name="tabler-star-filled"
        class="h-6 w-6 text-yellow-500"
        aria-hidden="true"
      />
      <Icon
        name="tabler-star-filled"
        class="h-6 w-6 text-yellow-500"
        aria-hidden="true"
      />
      <Icon
        name="tabler-star-filled"
        class="h-6 w-6 text-yellow-500"
        aria-hidden="true"
      />
    </div>
  </div>
</div>
